:root {
  --background: none;
  --primary-color: #2e3edf;
  --primary-hover: #404ee6;
  --primary-active: #1c28b0;
  --error-red: #ff002e;
  --white-text: #ffffff;
  --utility-white: #d3d3d3;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: #ffffff;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
}

.whiteLink {
  color: var(--utility-white);
  font-size: 1.125rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    color: var(--primary-hover);
  }

  &:active {
    color: var(--primary-active);
  }
}

.whiteText {
  color: var(--utility-white);
  font-size: 1.125rem;
  font-weight: 500;
}

.standardInputField {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  padding: 12px 24px;
  width: 100%;
  max-width: 22.5rem;
  font-size: 1rem;
  color: var(--utility-white);

  &::placeholder {
    color: var(--utility-white);
    font-size: 1rem;
  }

  &:focus-visible {
    color: var(--utility-white);
  }
}

.iconInputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  padding: 12px 24px;
  width: 100%;
  max-width: 22.5rem;

  &:focus-within {
    outline: -webkit-focus-ring-color auto 1px;
    color: var(--utility-white);
  }

  .blankInputField,
  .blankInputField:-webkit-autofill,
  .blankInputField:-webkit-autofill:focus,
  .blankInputField:-webkit-autofill:hover,
  .blankInputField:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    background-color: transparent !important;
    -webkit-text-fill-color: var(--utility-white) !important;
    padding: 0;
    border: none;
    outline: none;
    color: var(--utility-white);
    color: var(--utility-white);
    font-size: 1rem;
    width: 95%;

    &::placeholder {
      color: var(--utility-white);
      font-size: 1rem;
    }
  }

  .icon {
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;

    &:hover {
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0.01) 80%,
        transparent 100%
      );
    }
  }

  .iconDummy {
    height: 24px;
  }
}

.vfBtn {
  border: 0;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: #2e3edf;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-wrap: nowrap;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-active);
  }
}

.btnFix {
  max-width: fit-content;
  display: flex;
  gap: 4px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  display: flex;
  align-items: center;
  text-align: center;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 var(--primary-active) inset;
  animation: rotate 1s linear infinite;
}

.index-link {
  overflow-wrap: break-word;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width<=550px) {
  h1 {
    font-size: 2.5rem;
  }
}
