:root {
  --background: none;
  --primary-color: #2e3edf;
  --primary-hover: #404ee6;
  --primary-active: #1c28b0;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 100%;
}

h1 {
  font-size: 3rem;
}

.blueLink {
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    color: var(--primary-hover);
  }

  &:active {
    color: var(--primary-active);
  }
}

.blackText {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 500;
}

.standardInputField {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 12px 24px;
  width: 100%;
  max-width: 22.5rem;
  font-size: 1rem;
  color: var(--primary-color);

  &::placeholder {
    color: var(--primary-color);
    font-size: 1rem;
  }

  &:focus-visible {
    outline-color: var(--primary-color);
  }
}

.vfBtn {
  border: 0;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: #2e3edf;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-wrap: nowrap;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-active);
  }
}

@media (width<=670px) {
  * {
    font-size: 80%;
  }
}
