.browseMain {
    background:
        linear-gradient(180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%),
        url("/start-bg.jpg");
    object-fit: cover;
    background-size: cover;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.signUpWrapper>h1 {
    font-size: 3rem;
    font-weight: 700;
}

.signUpWrapper>span {
    font-size: 1.125rem;
}

.signUpMainForm {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    .transTxtField {
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 40px;
        padding: 12px 24px;
        width: 100%;
        max-width: 360px;

        &::placeholder {
            color: #ffffff;
        }
    }
}