.privacy {
  padding: 100px;
  overflow-wrap: anywhere;
}

.privacyContent {
  background: #000000;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 0 16px 36px;
  min-height: 100dvh;
  overflow-x: none;
}

@media (max-width: 550px) {
  .privacy {
    padding: 100px 8px;
  }

  .privacyHeadline {
    font-size: 1.75rem !important;
  }
}
