.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 408px;

  .infoText {
    color: black;
    font-size: 1.125rem;
  }

  .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.containerConfirm {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .matchWarning {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--error-red);
    max-width: 22.5rem;
    width: 100%;
    font-size: 0.875rem;
  }
}
